*{
font-family: 'Ubuntu', sans-serif;
margin: 0px;
padding: 0px;
outline: none;
border: none;
box-sizing: border-box;
text-decoration: none;
}

:root{--grey:#313131;
    --white:#fff;
    --optional:#D1D1D1;
  }
  /* contact page start */
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem !important;
    padding-bottom: 6rem;
    background-color: var(--grey);
  
  
  }
  .container .content{
    text-align: center;
    color: var(--white);
    /* font-size: large; */
  
  }
  
  .container .content h3{
   color: var(--white);
   font-size: 30px;
   padding: 0px 10px;
  
  
  }
  
  .container .content h3 span{
    background: crimson;
    color: var(--grey);
    border-radius: 5px;
    padding: 0px 10px;
    border: 2px solid var(--white);
   
  }
  .container.content h1{
    color: var(--white);
    font-size: 5rem !important;
    font-weight: bold;
    
  }
  .saasina{font-family: cursive;
   }

  .container.content h1 span{
    color: var(--white);
    font-size: 30px;
  }
  .container .content p{
    font-size: 25px;
 margin-bottom: 20px;
    
  }
  .container .content .btn{
    display: inline-block;
    border: 2px solid crimson;
    padding: 10px 25px;
    font-size: 20px;
    color: var(--white);
    border-radius: 5px;
    background-color: var(--grey);
    text-transform: capitalize;

  }
  .container .content .btn:hover{
    color: crimson;
  }

  /* contact page end */