
  .h11,.h21{   
    font-family: Arial, verdana,  sans-serif;
    background-color: rgb(250,250,250);
    color:#ee3e80;
}
.p11{
    font-family: Arial, verdana,  sans-serif;
    font-size: 18px;
    color:#665544;
}
.h33{
    color:rgb(255,255,255);
}
.p33{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(185, 179, 175);
    font-size: large;
    
}    
body{ 
    font-family: Arial, verdana, sans-serif;
    color:#665544;
    padding: 10px;

} 
.page10{
    border: 1px solid #665544;
    background-color: #efefef;
    padding: inherit;
}
.color1{
    color:darkcyan
}
.color2{
    color:#ee3e80;
   
}
.color3{
    color:rgb(100, 100, 90);
} 

.color4{
    background-color:rgb(200,200,200);
}
.color5{
  background-color: darkcyan;
  color:white; 
  font-weight: bold;

  
}
.color6{
    background-color: #ee3e80;
    color: white;
    font-weight: bold;
}
.color7{
    background-color: white;}

.text1{
   font-family: 'Times New Roman', Times, serif;
 
  background-color: rgb(225, 225, 225);
}
.text2{
    color: rgba(10,76,153,0.8);
    
}
.text3{
    color:rgba(0,102,204,0.8);
    font-family: 'Courier New', Courier, monospace;
}
.text4{
    color: black;
}
.text5{
    color:rgba(0,102,204,0.8) ;
    font-family: 'Times New Roman', Times, serif;
}
.texttransform1{
    background-color: beige;
    line-height: 1.5em;
}

.texttransform2{
    text-transform: uppercase;
    color: burlywood;
}
.texttransform3{
    text-transform: capitalize;
    text-decoration: underline;
}
.texttransform4{
    text-transform: lowercase;
    text-decoration: overline;

}
.line{
    line-height: 1.6em;
}

.letterspacing1{
    text-transform: uppercase;
    letter-spacing: .25em;
}

.wordspacing1{
    text-transform: capitalize;
    word-spacing: 1em;
}

.textalign1{
    text-align: left;
}

.textalign2{
    text-align: justify;
}

.textalign3{
    text-align: right;
}

.verticalalign1{
    vertical-align: text-top;
}

.verticalalign2{
    vertical-align:middle;
  
}

.verticalalign3{
    vertical-align: text-bottom;
}

.verticalalign4{
    text-align: center;

} 

.textindent1{
    background-image:url("../images/butterfly.jpg");
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.textshadow1{
    text-shadow: 1px 2px 0.50px rgb(255, 0, 0); 
}

.textshadow2{
   
    background-color: #aaaaaa;
    color: #ffffff;
    text-shadow: -1px -1px #6666;
}

p::first-letter{
    font-size: 200%;    

}
p::first-line{
    font-weight: bold;
}


.link1{
    color:purple;
}

a:link{
    color: #ee3e80;
    text-decoration: none;
}

a:visited{
    color:orangered;
}

a:hover{
    color: blue;
    text-decoration: underline;
}

a:active{
    color: darkcyan;
}



.input1 {
    padding: 6px 12px 6px 12px;
    border: 1px solid #665544;
    color: #ffffff;}
    .input2:hover {
    background-color: #665544;}
    .input5:focus {
        color: #665544;}
    .input3:active {
    background-color: chocolate;}

.box1{
    height:300px;
    width:300px;
    background-color: #ee3e80;
}

.box2{
    height: 75%;
    width: 75%;
    background-color: #0088dd;
}

.table1{ 
text-align: justify;
 border-bottom: 2px solid lightblue;
 color: lightblue;
}

.table2{
text-align: left;
min-width: 450px;
max-width: 650;
padding: 2px;
margin-left: 0px;
vertical-align: top;

}

.table3{ 
   
    text-align: justify;
    vertical-align: top;

}

.table4{
    margin: 200px;
}
    
.one{
    overflow: hidden;
    min-width: 250px;
    max-width: 450px;
    margin: auto;
    

}    
.two{
    overflow: scroll;
    min-width: 250px;
    max-width: 450px;
    margin: auto;
}
.three{

    border-bottom: 2px solid lightskyblue;
    min-width: 250px;
    max-width: 450px;
    margin: auto;
    color: rgba(45, 53, 100, 0.733);
    

}

.borderpiana1{
    border: 2px  solid peru;
    margin: auto;
    padding: 10px;
    max-width: 200px;
    min-width: 100px;
    color: rgb(255, 0, 0);
}
.borderpiana2{
    border:3px dotted purple;
    width: 200px;
    color: rosybrown;
}
.borderpiana3{
    border:4px dashed seagreen;
    width: max-content;
    color: slategrey;
    margin: auto;
}
.borderpiana4{
    border:5px double tomato;
    width: 225px;
    margin-left: auto;
    color: yellow;
}
.borderpiana5{
    border:6px groove aqua;
    width: 300px;
    padding: 10px;
    text-align: center;
    color: blue;
}
.borderpiana6{
    border: 7px ridge crimson;
    mask-border-width: 20px;
    color: cyan;
    width: 250px;
    text-align: right;
    margin: auto;
}
.borderpiana7{
    border: 2px inset darkgoldenrod;
    width: 275px;
    color: darkseagreen;
    text-align: center;
    padding: 5px;
    
}
.borderpiana8{
    border:2px outset yellow;
    width: 350px;
    color: rgb(255, 0, 0);
    margin: auto;
    text-align: center;
    padding: auto;
}