@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Quicksand:wght@300&family=Supermercado+One&family=Ubuntu:wght@300;400&display=swap');
:root{--green:#313131;
      --white:#fff;
      --optional:#D1D1D1;
    }
 
*{
font-family: 'Ubuntu', sans-serif;
margin: 0px;
padding: 0px;
outline: none;
border: none;
box-sizing: border-box;
text-decoration: none;
text-transform: capitalize;
transition: all .2s linear;
}

::selection{
  background-color: var(--green);
  color: #fff;
}
html{
  font-size: 62.5%;
  overflow: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}
section{
  padding: 2rem 9%;
}

.header-1{
  background:var(--green);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}
.logo{
  color: var(--white);
  font-size: 3rem;
  font-weight: bold;
  font-family: cursive;
}
.logo i{
  color: var(--optional);
  padding-right: 1rem;
}
.header-1 .search-box-container{
  display: flex;
  height: 5rem;
}
.header-1 .search-box-container #search-box{
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 2rem;
  color: var(--optional);
  border: .6rem solid rgba(0,0,0,.3);
  text-transform: none;

}
.header-1 .search-box-container label{
  height: 100%;
  width: 8rem;
  font-size: 2.5rem;
  line-height: 5rem;
  color: var(--green);
  background: var(--white);
  cursor: pointer;
  text-align: center;

}

.header-1 .search-box-container label:hover{
  background: var(--optional);
}
.header-2{
  background:var(--optional);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;

}
.header-2 .navbar a{
  padding: 12px 18px;
  font-size: 2rem;
  border-radius: .5rem;
  color: var(--black);
  cursor: pointer;


}
.header-2 .navbar a:hover{

  background: var(--green);
  color: #fff;
}
.header-2 .icons a {
  padding-left: 1rem;
  font-size: 2.5rem;
  color: var(--black);
}
.header-2 .icons a:hover{
  color: var(--white);
}